  
<!DOCTYPE html>
<html lang="en">
<head>

  {% block head %}
  <title>Admin Items</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}" />

  {% endblock %}
  </head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        <!--<a class="navbar-brand" href="#">Manager</a>   -->

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('manager')}}">    Home</a></li>
            <li class="active"><a href="{{url_for('new_dish')}}">    Add New Dish</a></li>
            <li class="active"><a href="{{url_for('get_all_dish')}}">    Get All Dish</a></li>
            <li class="active"><a href="{{url_for('display_order')}}">    New Order</a></li>
            <li class="active"><a href="{{url_for('deliver_order')}}">    All Delivered Order</a></li>
            <li class="active"><a href="{{url_for('logout')}}">    Logout</a></li>

        </ul>


    </div>

</nav>
<div class="container">
  {% block content %}

  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card top-margin">
                <div class="card-body p-0">

                    <hr class="my-5">
                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Uid</center></th>
                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Username</center></th>

                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Item</center></th>
                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Date</center></th>
                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Time</center></th>
                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Total price</center></th>
                                        <th class="border-0 text-uppercase small font-weight-bold"><center>Order Status</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for items in o1 %}
                                    <tr>
                                        <td>{{ items['uniqueid']}}</td>
                                        <td>{{ items['username']}}</td>
                                        <td>{{ items['name'] }}</td>
                                        <td>{{ items['Date'] }}</td>
                                        <td>{{ items['time'] }}</td>
                                        <td>{{items['price'] }}</td>
                                        <td> <div>
                                            <form action="{{ url_for('accept_order') }}" class="" method="post">
                                                <input type="hidden" name="item" value="{{items['name']}}" required>
                                               
                                                <input type="hidden" name="price" value="{{items['price']}}" required>
                                                <input type="hidden" name="username" value="{{items['username']}}" required>
                                                
                                                <button class="btn btn-primary btn-block" type=" submit">Delivered</button></br>
                                                <br><br>
                                            </form>
                                        </div></td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

        </div>
    </div>
</div>


        {% endblock %}
</html>
