{% extends "layout.html" %}
{% block body %}

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card top-margin">
                        <div class="card-body p-0">
                          <p class="font-weight-bold mb-4"><h4>Order Information</h4></p>
                            <div class="row p-5">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-0 text-uppercase small font-weight-bold"><center>Uid</center></th>

                                                <th class="border-0 text-uppercase small font-weight-bold"><center>Item</center></th>
                                                <th class="border-0 text-uppercase small font-weight-bold"><center>Date</center></th>
                                                <th class="border-0 text-uppercase small font-weight-bold"><center>Time</center></th>
                                                
                                                <th class="border-0 text-uppercase small font-weight-bold"><center>Order Status</center></th>
                                                <th class="border-0 text-uppercase small font-weight-bold"><center>Total price</center></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for items in o1 %}
                                            <tr>
                                                <td>{{ items['uniqueid']}}</td>
                                                <td>{{ items['name'] }}</td>
                                                <td>{{ items['Date'] }}</td>
                                                <td>{{ items['time'] }}</td>
                                                <td>{{ items['status'] }}</td>
                                                <td>{{items['price'] }}</td>
                                                
  
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <a href="{{url_for('menu_list')}}"> <button type="button">home</button></a>

                </div>
            </div>
        </div>
{% endblock %}