{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">Baavarchi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('login') }}">Login &nbsp;</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item active" href="{{ url_for('register') }}">Register</a>
      </div>
    </div>

  </div>
</nav>

<h1 align="center">Register</h1>
<form action="{{ url_for('register') }}" class="container" method="post">
 <div class="container">
    <label for="username"><b>Username: </b></label>
    <input type="text" placeholder="Username" name="username" required>
    </br>
    <label  for="Email"><b>Email:      </b></label>
    <input type="text" placeholder="Email" name="email" required>
    </br>
    <label for="Password"><b>Choose Password:</b></label>
    <input type="text" placeholder="Choose password" name="password" required>
    </br>

    <button type="submit">Sign Up</button></br>

    <a href="{{url_for('home')}}"> <button type="button">Back to Home</button></br></a>

  </div>


</form>

{% endblock %}
